{% extends "myweb/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="background-color: #f0f0f0; height: 100vh;">
        <div class="col-sm-8" style="background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
            <h2 style="color: #333;">ajouter un nouveau stagiaire</h2>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Ajouter">
            </form>
            <a href="{% url 'add_show' %}" class="btn btn-info">précédent</a>
        </div>
    </div>
</div>

<style>
    /* Styles personnalisés */
    h2 {
        color: #333;
    }

    .btn {
        margin-right: 10px;
    }
</style>


{% endblock content %}
