{% extends "myweb/base.html" %}

{% block content %}
<h1>Affectation des Sujets</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nom Encadrant</th>
            <th>Prénom Encadrant</th>
            <th>Nom Stagiaire</th>
            <th>Prénom Stagiaire</th>
            <th>Titre Sujet</th>
            <th>ID Sujet</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for encadrant in encadrants %}
        {% for stagiaire in encadrant.stagiaires_encadres.all %}
            <tr>
                <td>{{ encadrant.nom }}</td>
                <td>{{ encadrant.prenom }}</td>
                <td>{{ stagiaire.nom }}</td>
                <td>{{ stagiaire.prenom }}</td>
                <td>
                    {% if stagiaire.sujet_associé %}
                       {{ stagiaire.sujet_associé.titre }}
                       
                     {% else %}
                       Aucun sujet
                    {% endif %}
                 </td>
                 <td>
                    {% if stagiaire.sujet_associé %}
                        {{ stagiaire.sujet_associé.id }}
                    {% endif %}
                 </td>
                 <td>
                    {% if stagiaire.sujet_associé %}
                        <a href="{% url 'liste_taches' sujet_id=stagiaire.sujet_associé.id %}" class="btn btn-success btn-sm">Voir les tâches à réaliser</a>
                        
                        <a href="{% url 'ajouter_tache' sujet_id=stagiaire.sujet_associé.id %}" class="btn btn-primary btn-sm">Ajouter une tâche/con</a>
                        
                    {% else %}
                        <a href="{% url 'ajouter_sujet' encadrant.id stagiaire.id %}" class="btn btn-warning btn-sm">Affecter un sujet</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
