{% extends "myweb/base.html" %}
{% block title %}Modification Réussie{% endblock %}
{% block content %}
<div class="container">
  <h2>Modification Réussie</h2>
  <p>Les informations du stagiaire ont été modifiées avec succès :</p>
  <ul class="list-group">
    <li class="list-group-item"><strong>Nom :</strong> {{ stagiaire.nom }}</li>
    <li class="list-group-item"><strong>Prénom :</strong> {{ stagiaire.prenom }}</li>
    <li class="list-group-item"><strong>Email :</strong> {{ stagiaire.email }}</li>
    <li class="list-group-item"><strong>Age :</strong> {{ stagiaire.age }}</li>
    <!-- Ajoutez d'autres informations du stagiaire ici -->
  </ul>
  <a href="{% url 'search_and_edit' %}" class="btn btn-primary mt-3">Revenir à la recherche</a>
</div>
{% endblock %}
