{% extends "myweb/base.html" %}

{% block content %}
<style>
    /* Styles personnalisés */
    h1 {
        color: #333; /* Couleur du texte pour le titre h1 */
    }

    .alert.alert-success {
        background-color: #28a745; /* Couleur de fond pour l'alerte de succès */
        color: #fff; /* Couleur du texte pour l'alerte de succès */
        padding: 10px;
        margin-top: 10px;
    }

    .task-table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff; /* Couleur de fond du tableau */
        border: 1px solid #ddd; /* Bordure autour du tableau */
    }

    .task-table th, .task-table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd; /* Bordure basse pour les cellules du tableau */
    }

    .task-table tbody tr:hover {
        background-color: #f5f5f5; /* Couleur de fond au survol des lignes du tableau */
    }

    .btn {
        padding: 5px 10px;
        text-decoration: none;
        background-color: #007BFF; /* Couleur de fond des boutons */
        color: #fff; /* Couleur du texte des boutons */
        border: none;
        cursor: pointer;
    }

    .btn.btn-primary.btn-sm {
        padding: 3px 6px;
    }
</style>

<h1>Liste des tâches pour le sujet "{{ sujet.titre }}"</h1>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<table class="task-table">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Statut</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for tache in taches %}
      <tr>
        <td>{{ tache.titre }}</td>
        <td>{{ tache.description }}</td>
        <td>{{ tache.date_debut }}</td>
        <td>{{ tache.date_fin }}</td>
        <td>
          {% if tache.est_expiree %}
            Tâche expirée
          {% else %}
            En cours
          {% endif %}
        </td>
        <td>
          {% if not tache.est_expiree %}
            <a href="{% url 'soumettre_travail' tache.id %}" class="btn">Soumettre le travail</a>
          {% endif %}
          {% if tache.fichier_pdf %}
            <a href="{{ tache.fichier_pdf.url }}" class="btn btn-primary btn-sm">Télécharger le fichier soumis</a>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6">Aucune tâche trouvée pour ce sujet.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
