{% extends "myweb/base.html" %}

{% block content %}
<style>
    /* Styles personnalisés */
    h2 {
        color: #333; /* Couleur du texte pour le titre h2 */
    }

    .col-sm-8 {
        margin-top: 20px; /* Espacement en haut du formulaire */
        background-color: #f5f5f5; /* Couleur de fond du formulaire */
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
    }

    .messages {
        margin-bottom: 20px;
    }

    .messages div {
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .btn-success {
        background-color: #28a745; /* Couleur de fond du bouton "Modifier" */
        color: #fff; /* Couleur du texte du bouton */
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .btn-info {
        background-color: #17a2b8; /* Couleur de fond du bouton "Retour en arrière" */
        color: #fff; /* Couleur du texte du bouton */
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    /* Personnalisez d'autres styles selon vos besoins */
</style>

<h2> Modification de encadrant</h2>

<div class="col-sm-8 offset-2">
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    {{ encadrant_form.as_p }}
    <input type="submit" class="btn btn-success" value="Modifier">
    <a href="{% url 'encadrants' %}" class="btn btn-info">Retour en arrière</a>
  </form>
</div>
{% endblock content %}
