{% extends "myweb/base.html" %}

{% block content %}
    <style>
        /* Styles personnalisés */
        h1 {
            color: #333; /* Couleur du texte pour le titre h1 */
        }

        form {
            margin-top: 20px; /* Espacement en haut du formulaire */
            max-width: 400px; /* Largeur maximale du formulaire */
            padding: 20px;
            background-color: #f5f5f5; /* Couleur de fond du formulaire */
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button[type="submit"] {
            background-color: #007BFF; /* Couleur de fond du bouton */
            color: #fff; /* Couleur du texte du bouton */
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>

    <h1>Ajouter un membre RH</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter</button>
    </form>
{% endblock content %}
